/**========================================= Start of Student Card ===================================================*/
/* The container for the student card cells */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/** Bottom most cell */
.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #383838;
}

/** Individual student cell */
.list-cell:filled {
    -fx-background-color: #383838;
}

.list-cell:filled:selected {
    -fx-background-color: #515151;
    -fx-border-color: #FDB703;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

/**========================================= End of Student Card =====================================================*/

/**========================================= Start of Color picker ===================================================*/

.color-palette .hyperlink {
    visibility: hidden ;
}

/**========================================= End of Color picker =====================================================*/

/**========================================= Start of Titled Pane ====================================================*/

.titled-pane.label {
    -fx-font-family: "Open Sans Bold Italic";
}


.titled-pane:default {
    -fx-text-fill: white;
}

.titled-pane:focused > .title {
    -fx-color: #FDB703;
}

.titled-pane > .title {
    -fx-background-color: #515151, #515151, #383838;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}


/**========================================= End of Titled Pane ======================================================*/

/**========================================= Start of Placeholder ====================================================*/

/** It is necessary to use ids here as these components do NOT follow the main styling. **/

#commandBoxPlaceholder, #resultDisplayPlaceholder, #statusBarPlaceholder,
#topContainer, #container, #listPanelPlaceholder, #status-bar, #studentList, #helpWindow,
#firstGridPane, #secondGridPane, #thirdGridPane {
    -fx-background-color: #383838;
}

#phone, #major, #year, #studentId, #email, #enrolledEvents {
    -fx-fill: white;
}

/**========================================= End of Placeholder ======================================================*/

/**========================================= Start of Result Display =================================================*/

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 14pt;
    -fx-text-fill: #FFFFFF;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.pane-with-border {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-radius: 10px;
    -fx-border-top-width: 1px;
}
/**========================================= End of Result Display ===================================================*/

/**========================================= Start of buttons ========================================================*/

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button {
    -fx-padding: 5 22 5 22;
    -fx-font-family: "Roboto Thin";
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 50;
    -fx-background-color: #515151;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: #515151;
    -fx-font-size: 20;
}

.button:pressed, .button:default:hover:pressed {
    -fx-text-fill: #779CFF;
    -fx-font-family: "Roboto Bold";
    -fx-effect: dropshadow(gaussian, #E9AFFF, 2, 1, 0, 0);
}

/**========================================= End of buttons ==========================================================*/

/**==========================================Start of ScrollBar ======================================================*/

.scroll-bar {
    -fx-background-color: derive(#C4C4C4, 20%);
    -fx-border-radius: 4px;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#ffffff, 100%);
    -fx-background-insets: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/**==========================================End of ScrollBar ========================================================*/

/**==========================================Start of CommandBox =====================================================*/

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;

    -fx-border-color: #383838 #383838 #ffffff #383838;
    -fx-border-radius: 8px;
    -fx-border-insets: 0;
    -fx-border-width: 2;

    -fx-font-family: "Open Sans Light";
    -fx-font-size: 16pt;

    -fx-text-fill: #FFFFFF;
}

.stack-pane { /** Command box **/
    -fx-background-color: derive(#1d1d1d, 20%);
}

/**==========================================End of CommandBox =======================================================*/

/**==========================================Start of Result Display ---==============================================*/

#resultDisplay .content { /**results**/
    -fx-background-color: transparent, #383838, transparent, #383838;
    -fx-background-radius: 0;
}

/**==========================================Start of Result Display =================================================*/

/**==========================================Start of participant label ==============================================*/

#participants .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-family: "Open Sans";
}

/**==========================================End of participant label ================================================*/

/**==========================================Start of blacklist label ================================================*/

#blacklist .label {
    -fx-text-fill: white;
    -fx-background-color: #ea3c53;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-family: "Open Sans";
}

/**==========================================End of blacklist label ==================================================*/
